<header >
<div class=" cabeceraRecyApp bg-success py-2 pd-0 mg-0 border-0 col-xs-12 col-sm-12 col-md-12 col-lg-12  "  >

  

    <div class=" d-inline  pd-0 mg-0 border-0  " >
        <img class="img_logo" src="http://localhost/Repos/RecyApp/src/app/header/images/RecyApp_Logo.png" alt="Logo RecyApp">
      </div>  

      
<div class="  d-inline pd-0 mg-0 border-0 text-white  float-right    ">
    
        <h1 clas="cabeceraTextos"> RecyApp</h1>
        <h1 class="cabeceraTextos">Construyendo comunidad</h1>
      </div>


   

     
      

  


</div>

</header>
  




