
        

               
                
             
<div class=" border float-left col-xs-10 col-sm-10 col-md-10 col-lg-10 container bg-light">
        <h2 class="container col-xs-10 col-sm-10 col-md-10 col-lg-10 text-center  text-primary">Vídeo explicativo</h2>


    <div class="row container">

        



<div class="embed-responsive embed-responsive-21by9 container ">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/B_2Ppq75Bzo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

</div>

</div>




      
 