
  <div class="  card  bg-light     d-inline-block   float-left container col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h2 class="container col-xs-10 col-sm-10 col-md-10 col-lg-10 text-center   bg-light text-primary">Participantes en el proyecto</h2>



    <div class="row  container">

        
                <div class="card border pd-0 mg-0 float-right container  col-xs-10 col-sm-10 col-md-5 col-lg-3  ">
                    <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Families.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Hogares</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <button type="button" class="btn btn-outline-primary">Ir Zona Hogares</button>
                  </div>

                  <div class="card border pd-0 mg-0 float-right container   col-xs-10 col-sm-10 col-md-5 col-lg-3 ">
                      <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/SMEs.png" alt="Card image cap">
                      <div class="card-body">
                          <h5 class="card-title text-center">Negocios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <button type="button" class="btn btn-outline-primary">Ir zona Empresas</button>
                    </div>
                
                    <div class="card border pd-0 mg-0 float-left  container     col-xs-10 col-sm-10 col-md-5 col-lg-3  ">
                        <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Recyclers.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Recicladores</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <button type="button" class="btn btn-outline-primary">Ir zona de recicladores</button>
                      </div>

                      <div class="card border pd-0 mg-0 float-left  container     col-xs-10 col-sm-10 col-md-5 col-lg-3  ">
                          <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Recyclers.png" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title text-center">Aliados</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <button type="button" class="btn btn-outline-primary">Ir zona de recicladores</button>
                        </div>




              
      
                    </div>

                  </div>





