<section>
    <div class=" card border-0 pd-0 mg-0 col-xs-2 col-sm-2 col-md-2 col-lg-2 d-block  float-right">
    
 
    
    
    
    
    
            
                    <div class="card border-0 pd-0 mg-0    ">
                        <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Families.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center">Hogares</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <button type="button" class="btn btn-outline-primary">Ir Zona Hogares</button>
                      </div>
    
                      <div class="card border-0 pd-0 mg-0  ">
                          <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/SMEs.png" alt="Card image cap">
                          <div class="card-body">
                              <h5 class="card-title text-center">Negocios(Empresas)</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          <button type="button" class="btn btn-outline-primary">Ir zona Empresas</button>
                        </div>
                    
                        <div class="card border-0 pd-0 mg-0    ">
                            <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Recyclers.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">Recicladores</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <button type="button" class="btn btn-outline-primary">Ir zona de recicladores</button>
                          </div>

                          <div class="card border-0 pd-0 mg-0    ">
                            <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Families.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title text-center">Hogares</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                            <button type="button" class="btn btn-outline-primary">Ir Zona Hogares</button>
                          </div>
        
                          <div class="card border-0 pd-0 mg-0  ">
                              <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/SMEs.png" alt="Card image cap">
                              <div class="card-body">
                                  <h5 class="card-title text-center">Negocios(Empresas)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              </div>
                              <button type="button" class="btn btn-outline-primary">Ir zona Empresas</button>
                            </div>
                        
                            <div class="card border-0 pd-0 mg-0    ">
                                <img class="card-img-top container" src="http://localhost/Repos/RecyApp/src/app/beneficios/assets/benefitsIcon/Recyclers.png" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Recicladores</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <button type="button" class="btn btn-outline-primary">Ir zona de recicladores</button>
                              </div>
                            
                        
          
                      
    
    </div>
    
    </section>
    
    