<div class="container inline-block  ">
<div class="row float-left" >

  


              <nav class="navbar navbar-expand-lg navbar-light   ">
                <a class="navbar-brand text-primary " href="#" >Menú</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">

                      <li class="nav-item active ">
                          <a class="nav-link text-primary  " href="#">Conocenos <span class="sr-only">(current)</span></a>
                        </li>


                    <li class="nav-item active">
                      <a class="nav-link text-primary   " href="#">Novedades <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-primary  " href="#">Beneficiarios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-primary   " href="#">Video explicativo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled text-primary  " href="#">Áreas de trabajo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled text-primary   " href="#">Reconocimientos</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link disabled text-primary   " href="#">Contactenos</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link disabled text-success " href="#">Ingresar</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link disabled text-success " href="#">Suscribirse</a>
                    </li>
                  </ul>
                </div>
              </nav>




          

</div>
</div>